.avo-app__input label {
  display: block;
}

.avo-app__result--hidden {
  display: none;
}

.avo-app__error {
  color: red;
}

.avo-app__error--hidden {
  display: none;
}

.avo-app__visualisation {
  width: 800px;
  max-width: 100%;
  white-space: nowrap;
}

.avo-app__house, .avo-app__avos {
  float: left;
}

.avo-app__visualisation img {
  width: 100%;
  height: auto;
}

.avo-app__visualisation + figcaption {
  clear: left;
}